.badge {
    background-color: #3b3b3b;
    margin-inline-end: 5px;
    margin-bottom: 5px;
  }
  
  .card-deck {
    column-count: 3;
    margin-inline: 25px;
  }
  
  .card {
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 10px;
    margin-inline: 10px;
    margin-top: 30px;
    transition: transform .2s;
    display: inline-block;
  }
  
  .source {
    text-align: center;
    font-size: 40px;
    margin-top: 10px;
  }

  .col {
    margin-inline: 25px;
  }

img {
  padding: 10px;
}