<div class="row">
    <div class="col">
      <a routerLink="../create-blog" class="btn btn-warning card-link" style="margin-top: 25px;">Create Blog!</a>
      <div class="row">
        <div class="col-sm-3" *ngFor="let item of blogs">
            <div cardHighlight  class="card">
                <div>
                  <img [src]="item.img.data.data | imagePipe" class="card-img-top" alt="" />
                </div>
                <div class="card-body">
                  <h5 class="card-title">{{item.title}}</h5>
                  <span *ngFor="let category of item.tags" class="badge badge-dark">
                    {{category}}
                  </span>
                  <p class="card-text">{{item.description| slice:0:150}} .....</p>
                  <div class="row">
                    <div class="col-2"><i class="far fa-thumbs-up">{{item.likedBy.length}}</i></div>
                    <div class="col-2"><i class="far fa-thumbs-down">{{item.dislikedBy.length}}</i></div>
                    <div class="col-8">
                      <a routerLink="../view-blog/{{item._id}}" class="btn btn-warning card-link" style="float: right; margin-bottom: 10px;">Read more</a></div>
                  </div>
                  
                </div>
              </div>
        </div>
      </div>
    </div> 
    </div>